@import "tailwindcss";

:root {
  --color-primary: #1e40af;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e3a8a;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-danger: #dc2626;
}
